<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Mini Weibo</a>

    <ul class="navbar-nav">
      {% if user %}
        <li class="nav-item">
          <a class="nav-link" href="#">用户列表</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ user.name }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="/users/{{ user.id }}">个人中心</a>
            <a class="dropdown-item" href="#">编辑资料</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">
              <button type="button" class="btn btn-danger btn-block">退出</button>
            </a>
          </div>
        </li>
      {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/help">帮助</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">登录</a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>