/* navbar */
nav.navbar.navbar-expand {
  margin-bottom: 20px;
}

/* footer */
.footer {
  border-top: 1px #ddd solid;
  padding-top: 5px;
  padding-bottom: 20px;
  margin-top: 45px;
  color: #777;
  font-size: 14px;
  font-weight: bold;
}

.footer a {
  color: #777;
}

.footer a:hover {
  color: #000;
}

/* user_info */
.user_info {
  margin-top: 20px;
  text-align: center;
}

.user_info h1 {
  letter-spacing: -1px;
}

.user_info .gravatar {
  padding-bottom: 10px;
  margin-top: 5px;
}

/* user_edit */
.gravatar_edit {
  margin-top: 20px;
  margin-bottom: 20px;
}
