{% import "shared/_field.html" as field %}

<div class="media mt-4 mb-4">
  <a href="/users/{{ u.id }}">
    <img src="{{ u.gravatar(60) }}" class="mr-3 gravatar" alt="{{ u.name }}">
  </a>
  <div class="media-body">
    <h5 class="mt-0 mb-1">
      {{ u.name }}
      <small title="{{ status.getCreatedAtForHumans() }}"> / {{ status.getCreatedAtDiffForHumans() }}</small>
    </h5>
    <p class="text-break">{{ status.content }}</p>
  </div>
  {% if user.id === u.id %}
    <form action="/statuses/{{ status.id }}" method="POST" onsubmit="return confirm('您确定要删除本条微博吗？')">
      {{ field.method('DELETE') }}
      {% include "shared/_csrf.html" %}
      <button type="submit" class="btn btn-sm btn-danger">删除</button>
    </form>
  {% endif %}
</div>