{% extends "layouts/_base.html" %}

{% set title = u.name %}

{% block content %}
  <div class="col-md-8 offset-md-2">
    <div class="justify-content-center">
      <section class="user_info">
        {% include "shared/_user-info.html" %}
      </section>
      <section class="stats mt-4">
        {% include "shared/_stats.html" %}
      </section>
    </div>
    <hr>
    <section class="status">
      {% if statuses.length > 0 %}  
        <ul class="list-unstyled">
          {% for status in statuses %}
            {% include "statuses/_status.html" %}
          {% endfor %}
        </ul>
        <div class="mt-4">
          {% set urlPrefix = 'users/' + u.id %}
          {% include "shared/_pagination.html" %}
        </div>
      {% else %}
        没有数据！
      {% endif %}
    </section>
  </div>
{% endblock %}